/*=============================
 @Media Query for Desktop Only!
===============================*/

@media(min-width: 992px) {
	col-lg-1, col-lg-2, col-lg-3 {
		float: left;
		width: 33%;
	}
}

/*============================
 @Media Query for Tablet Only!
==============================*/
@media(min-width: 768px) and (max-width: 991px) {
	col-md-1, col-md-2, col-md-3 {
		float: left;
		}
	col-md-1 {
		width: 50%;
	}
	col-md-2 {
		width: 50%;
	}
	col-md-3 {
		width: 100%
	}
}
/*============================
 @Media Query for Mobile Only!
==============================*/
@media(max-width: 767px) {
	col-sm-1, col-sm-2, col-sm-3 {
		float: left;
		width: 100%;
	}
	
}


/*==========================
        Global Style
============================*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin:0 auto;
	border: 2px solid black;
	font-family: helvetica;
	font-size: 16px;
}

/*==========================
        Header
============================*/

header {
	text-align: center;
	margin: 30px auto;
	font-size: 20px;
}

/*==========================
        Main
============================*/

h2 {
	width: 150px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	float: right;
	text-align: center;
	margin: 0;
	font-size: 18px;
}

p {
	box-sizing: border-box;
	text-align: justify;
	padding: 15px;
	width: 90%;
}

#chicken {
	background-color: pink;
}

#beef {
	background-color: tomato;
	color:#fff;
}

#sushi {
	background-color: yellow;
}

.columns {
	display: flex;
	margin: 0 25px;
}

.column {
	margin: 10px;
	text-align: center;
	background-color: #efefef;
	border: 2px solid black;
	width: 100%;
	grid-column: 
}


/*==========================
        Footer
============================*/

footer {
	background-color: #e4e4e4;
	margin-top: 75px;
	text-align: right;
	font-size: 25px;
	border-top: 2px solid black;
}
